*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

.header{
    color: white;
    background-image: url(https://i.pinimg.com/736x/4c/9e/a6/4c9ea6a0095838d6c8b4099750c788d5.jpg);
    background-size: cover;
    text-align: center;
    padding: 50px 0;
    font-size: 40px;
    
}

.container{
    display: flex;
}

.navbar{
    width: 17%;
    padding: 30px;
    background: #000000;
}

.navbar ul{
    list-style: none;
}

.navbar ul li {
    background-color: rgb(29, 218, 208);
    border-radius: 10px 10px;
    margin-bottom: 5px;
    padding: 10px;
    text-align: center;
}

.navbar ul li a{
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 13px;
}


.content{
    width: 83%;
    padding: 30px;
    background: #000000;

}

.content img{
    border-radius: 30px 30px;
    
}

.footer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin-top: auto;
    background-color: rgb(231, 231, 231);
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 20
    
}

.content h1{
    text-align: center;
    padding-bottom: 15px;
}

.content p {
    padding: 5px 0;
    color: white;
}

